html {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  text-transform: inherit;
}
body {
  margin: 0;
  background-color: #181717;
  min-height: 100%;
}
main {
  margin: auto;
  padding: 0 8px;
  max-width: 1280px;
  min-height: 650px;
  text-align: center;
}
section {
  min-height: 150px;
  margin-bottom: 64px;
}
@font-face {
  font-family: 'Montserrat';
  src: url("\\fonts\\Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("\\fonts\\Montserrat-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: italic;
}
body {
  font-size: 21px;
  letter-spacing: 2px;
  color: #F3EFEE;
  line-height: 30px;
}
nav,
form label {
  font-size: 19px;
}
a,
button,
input {
  font-family: inherit;
}
a {
  color: #F3EFEE;
}
button {
  font-size: 17px;
  letter-spacing: 1px;
}
.button-big {
  font-size: 24px;
}
input {
  font-size: 18px;
}
h1 {
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 30px;
  text-indent: 30px;
  line-height: 50px;
  color: #EEE8E7;
}
h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
}
h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 5px;
  word-spacing: 6px;
}
@media (max-width: 850px) {
  body {
    font-size: 18px;
    letter-spacing: 2px;
    color: #F3EFEE;
    line-height: 25px;
  }
  h1 {
    font-size: 32px;
    letter-spacing: 5px;
    text-indent: 5px;
  }
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
  h3 {
    font-size: 24px;
  }
}
/* FLEX STUFF */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* GRADIENT */
.gradient-base {
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
}
.gradient-top {
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  top: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000 100%);
}
.gradient-bottom {
  bottom: 0;
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}
.gradient-top-bottom {
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%), linear-gradient(to top, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%);
}
/* LINK "ANIMATION" */
.a-underline-transition {
  position: relative;
  top: 0;
  transition: 300ms;
  color: rgba(238, 232, 231, 0.85);
  text-decoration: underline rgba(238, 232, 231, 0.3);
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
}
.a-underline-transition:hover {
  top: 4px;
  color: #EEE8E7;
  text-decoration-color: #eee8e7;
  text-underline-offset: 15px;
  text-decoration-thickness: 3px;
}
/* HOMEPAGE HAS CUSTOM STYLES FOR HEADER */
header:not(.homepage) {
  height: 350px;
}
header:not(.homepage) h1 {
  top: 150px;
  margin: 0;
  width: 100%;
  text-align: center;
  position: absolute;
}
header:not(.homepage) .background-anchor {
  height: 350px;
  background-color: black;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px) brightness(50%);
}
header:not(.homepage) .background-anchor::after {
  --gradient-height: 30%;
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%), linear-gradient(to top, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%);
}
footer {
  padding: 16px;
  border-top: 1px solid #F3EFEE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer ul {
  list-style: none;
  padding: 0 16px;
}
footer > div {
  flex-basis: calc(100%/3);
}
footer .middle button {
  margin: auto;
}
footer .right {
  text-align: right;
}
@media (max-width: 1150px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .middle {
    display: none;
  }
  footer .right {
    text-align: left;
  }
  footer > div {
    width: 100%;
  }
}
header.homepage {
  position: relative;
  overflow: clip;
  max-height: 800px;
}
header.homepage img {
  width: 25%;
}
header.homepage::after {
  --gradient-height: 25%;
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%), linear-gradient(to top, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%);
}
.homepage h1 {
  line-height: 50px;
}
.homepage .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage .gallery > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage .gallery div img,
.homepage .gallery div div {
  width: 50%;
}
.about-contact h1 {
  line-height: 50px;
}
.about-contact section {
  margin-top: 64px;
  text-align: left;
}
.about-contact .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-contact .gallery > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.about-contact .gallery div img,
.about-contact .gallery div div {
  width: 50%;
}
.about-contact .gallery.bottom-margin {
  margin-bottom: 64px;
}
/*# sourceMappingURL=index.css.map */