html {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  text-transform: inherit;
}
body {
  margin: 0;
  background-color: #181717;
  min-height: 100%;
}
main {
  margin: auto;
  max-width: 1280px;
  text-align: center;
}
section {
  height: 540px;
}
@font-face {
  font-family: 'Montserrat';
  src: url("\\fonts\\Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("\\fonts\\Montserrat-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: italic;
}
body {
  font-size: 21px;
  letter-spacing: 2px;
  color: #F3EFEE;
  line-height: 30px;
}
nav,
form label {
  font-size: 19px;
}
a,
button,
input {
  font-family: inherit;
}
a {
  color: #F3EFEE;
}
button {
  font-size: 17px;
  letter-spacing: 1px;
}
.button-big {
  font-size: 24px;
}
input {
  font-size: 18px;
}
h1 {
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 30px;
  text-indent: 30px;
  color: #EEE8E7;
}
h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
}
h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 5px;
  word-spacing: 6px;
}
/* FLEX STUFF */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* GRADIENT */
.gradient-base {
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
}
.gradient-top {
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  top: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000 100%);
}
.gradient-bottom {
  bottom: 0;
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}
.gradient-top-bottom {
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%), linear-gradient(to top, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%);
}
/* LINK "ANIMATION" */
.a-underline-transition {
  position: relative;
  top: 0;
  transition: 300ms;
  color: rgba(238, 232, 231, 0.85);
  text-decoration: underline rgba(238, 232, 231, 0.3);
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
}
.a-underline-transition:hover {
  top: 4px;
  color: #EEE8E7;
  text-decoration-color: #eee8e7;
  text-underline-offset: 15px;
  text-decoration-thickness: 3px;
}
input {
  color: #181717;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #F3EFEE;
  border-color: #5f5d5c;
  text-transform: initial;
}
input::placeholder {
  color: #5f5d5c;
}
form {
  padding: 32px 16px;
}
form.in-column {
  margin: auto;
  width: 350px;
  text-align: center;
}
form.in-column input {
  width: 100%;
  margin-top: 6px;
}
form.in-column button {
  margin-top: 24px;
}
form.in-column label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 32px;
}
form.in-column label svg {
  margin-left: 5px;
  margin-right: 6px;
  width: 24px;
  height: 24px;
}
#google-oauth {
  width: 350px;
  margin: 0 auto 32px auto;
}
#google-oauth button {
  margin: auto !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#google-oauth button svg {
  margin-left: 5px;
  width: 25px;
  height: 25px;
}
button {
  color: #181717;
  background-color: #F3EFEE;
  border: 2px solid #5f5d5c;
  border-radius: 10px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 300ms;
  transition: visibility 0ms;
  cursor: pointer;
  min-width: 180px;
}
button:hover {
  background-color: #bebab9;
  color: #F3EFEE;
}
button:disabled {
  cursor: initial;
  background-color: #F3EFEE;
  color: #bebab9;
}
.button-big {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 24px auto 0;
}
.button-big svg {
  margin-left: 5px;
  margin-right: 6px;
  width: 28px;
  height: 28px;
}
nav {
  position: absolute;
  width: 100%;
  z-index: 10;
  color: #EEE8E7;
}
nav #main-logo {
  max-width: 260px;
  width: 20%;
  margin: 20px 0 0 20px;
  transition: 10s ease-in-out 300ms;
  cursor: pointer;
}
nav #main-logo:hover {
  transform: rotate(360deg) scale(1.1);
}
nav #nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 20px;
  right: 22px;
}
nav #nav-links a {
  margin: 0 10px;
  position: relative;
  top: 0;
  transition: 300ms;
  color: rgba(238, 232, 231, 0.85);
  text-decoration: underline rgba(238, 232, 231, 0.3);
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
}
nav #nav-links a:hover {
  top: 4px;
  color: #EEE8E7;
  text-decoration-color: #eee8e7;
  text-underline-offset: 15px;
  text-decoration-thickness: 3px;
}
nav #nav-links .user,
nav #nav-links .admin {
  transition: 300ms;
  text-decoration: none;
  border: 2px solid rgba(238, 232, 231, 0.3);
  padding: 8px;
}
nav #nav-links .user:hover,
nav #nav-links .admin:hover {
  border-color: #EEE8E7;
}
nav #nav-links svg {
  color: #EEE8E7;
  margin-left: 12px;
  width: 30px;
  height: 30px;
}
/* HOMEPAGE HAS CUSTOM STYLES FOR HEADER */
header:not(.homepage) {
  height: 350px;
}
header:not(.homepage) h1 {
  top: 0;
  margin: 0;
  width: 100%;
  line-height: 350px;
  text-align: center;
  position: absolute;
}
header:not(.homepage) .background-anchor {
  height: 350px;
  background-color: black;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px) brightness(50%);
}
header:not(.homepage) .background-anchor::after {
  --gradient-height: 30%;
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%), linear-gradient(to top, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%);
}
.list {
  list-style: none;
  margin: 8px;
  padding: 0;
}
.list > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 16px 56px;
  border-bottom: 2px solid #F3EFEE;
}
.list > li .right,
.list > li .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.list > li .right {
  align-items: flex-end;
}
.list > li .left {
  align-items: flex-start;
}
.menu h2 {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: left;
  background-color: rgba(24, 23, 23, 0.95);
  margin: 0 0 0 8px;
  line-height: 83px;
  text-decoration: underline;
}
.menu #basket-show-toggle {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 24px auto 0;
}
.menu #basket-show-toggle svg {
  margin-left: 5px;
  margin-right: 6px;
  width: 28px;
  height: 28px;
}
.menu #basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 600px;
}
.menu #basket-content.hide {
  display: none;
}
.menu #basket-content #price {
  align-self: flex-end;
  margin: 8px 0 8px 0;
}
.menu #basket-content #custom {
  margin-top: 16px;
}
.menu #basket-content form {
  padding-top: 0;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border: 1px solid #F3EFEE;
}
.menu #basket-content form button {
  background-color: #b3ffb3;
}
.menu ul#basket-list,
.menu ul.food-list {
  list-style: none;
  padding: 0;
}
.menu ul#basket-list h3,
.menu ul.food-list h3,
.menu ul#basket-list p,
.menu ul.food-list p {
  margin: 0;
  text-align: left;
}
.menu ul#basket-list {
  width: 100%;
  margin: 0;
}
.menu ul#basket-list li {
  position: relative;
  height: 45px;
}
.menu ul#basket-list li + li {
  border-top: 1px solid #F3EFEE;
}
.menu ul#basket-list li:last-child {
  border-bottom: 1px solid #F3EFEE;
}
.menu ul#basket-list li span {
  position: absolute;
  line-height: 45px;
}
.menu ul#basket-list li span:first-child {
  left: 8px;
}
.menu ul#basket-list li span:last-child {
  right: 8px;
}
.menu ul.food-list {
  list-style: none;
  margin: 8px;
  padding: 0;
}
.menu ul.food-list > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 16px 56px;
  border-bottom: 2px solid #F3EFEE;
}
.menu ul.food-list > li .right,
.menu ul.food-list > li .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.menu ul.food-list > li .right {
  align-items: flex-end;
}
.menu ul.food-list > li .left {
  align-items: flex-start;
}
.menu ul.food-list li {
  height: 170px;
  align-items: flex-start;
}
.menu ul.food-list p {
  padding-right: 50px;
}
.menu ul.food-list .right span {
  font-size: 24px;
}
header.homepage {
  position: relative;
  overflow: clip;
  max-height: 800px;
}
header.homepage img {
  width: 25%;
}
header.homepage::after {
  --gradient-height: 25%;
  display: block;
  position: absolute;
  height: var(--gradient-height, 20%);
  width: 100%;
  content: '';
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%), linear-gradient(to top, rgba(255, 255, 255, 0) calc(100% - var(--gradient-height, 20%)), #000 100%);
}
.manage-profile h2 {
  margin-bottom: 0;
}
.manage-profile form {
  padding-top: 0;
}
.manage-orders h2 {
  margin-left: 8px;
  text-align: left;
  text-decoration: underline;
}
.manage-orders .logout {
  margin-top: 24px;
}
.manage-orders .profile-management {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 24px auto 0;
}
.manage-orders .profile-management svg {
  margin-left: 5px;
  margin-right: 6px;
  width: 28px;
  height: 28px;
}
.manage-orders .profile-management svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.manage-orders #manage-user {
  margin-top: 16px;
}
.manage-orders #orders-list {
  list-style: none;
  margin: 8px;
  padding: 0;
}
.manage-orders #orders-list > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 16px 56px;
  border-bottom: 2px solid #F3EFEE;
}
.manage-orders #orders-list > li .right,
.manage-orders #orders-list > li .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.manage-orders #orders-list > li .right {
  align-items: flex-end;
}
.manage-orders #orders-list > li .left {
  align-items: flex-start;
}
.manage-orders #orders-list .status.done {
  color: #b3ffb3;
}
.manage-orders #orders-list .status.cancel {
  color: #ffb3b3;
}
.manage-orders #orders-list ol {
  margin: 8px 0;
  border-top: 1px solid #F3EFEE;
  border-bottom: 1px solid #F3EFEE;
  text-align: left;
}
.manage-orders #orders-list #price {
  margin-top: 8px;
  font-weight: bold;
}
.admin-orders h2 {
  margin-left: 8px;
  text-align: left;
  text-decoration: underline;
}
.admin-orders .users-management {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 24px auto 0;
  margin-bottom: 24px;
}
.admin-orders .users-management svg {
  margin-left: 5px;
  margin-right: 6px;
  width: 28px;
  height: 28px;
}
.admin-orders .users-management svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.admin-orders #opener {
  margin: 0 8px;
  border-top: 2px solid white;
}
.admin-orders #opener h3 span.opened {
  color: #33ff33;
}
.admin-orders #opener h3 span.closed {
  color: #ff3333;
}
.admin-orders #admin-orders-list {
  list-style: none;
  margin: 8px;
  padding: 0;
}
.admin-orders #admin-orders-list > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 16px 56px;
  border-bottom: 2px solid #F3EFEE;
}
.admin-orders #admin-orders-list > li .right,
.admin-orders #admin-orders-list > li .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.admin-orders #admin-orders-list > li .right {
  align-items: flex-end;
}
.admin-orders #admin-orders-list > li .left {
  align-items: flex-start;
}
.admin-orders #admin-orders-list .status {
  background-color: #181717;
  border-color: #F3EFEE;
  color: #F3EFEE;
  margin-top: 6px;
}
.admin-orders #admin-orders-list .status.done {
  color: #b3ffb3;
  border-color: #b3ffb3;
}
.admin-orders #admin-orders-list .status.cancel {
  color: #ffb3b3;
  border-color: #ffb3b3;
}
.admin-orders #admin-orders-list button.status:hover {
  background-color: #F3EFEE;
  color: #181717;
}
.admin-orders #admin-orders-list button.status.done:hover {
  background-color: #b3ffb3;
  color: #181717;
}
.admin-orders #admin-orders-list button.status.cancel:hover {
  background-color: #ffb3b3;
  color: #181717;
}
.admin-orders #admin-orders-list .right {
  align-items: center !important;
}
.admin-orders #admin-orders-list ol,
.admin-orders #admin-orders-list ul {
  margin: 8px 0;
  border-top: 1px solid #F3EFEE;
  border-bottom: 1px solid #F3EFEE;
  text-align: left;
}
.admin-orders #admin-orders-list #price {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}
.admin-users h2 {
  margin-left: 8px;
  text-align: left;
  text-decoration: underline;
}
.admin-users ul {
  list-style: none;
  margin: 8px;
  padding: 0;
}
.admin-users ul > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 16px 56px;
  border-bottom: 2px solid #F3EFEE;
}
.admin-users ul > li .right,
.admin-users ul > li .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.admin-users ul > li .right {
  align-items: flex-end;
}
.admin-users ul > li .left {
  align-items: flex-start;
}
.admin-users button.delete {
  transition: 300ms;
  width: 210px;
  padding: 4px 0;
  margin-top: 6px;
  background-color: #181717;
  color: #ff3333;
  border-color: #ff3333;
}
.admin-users button.delete:hover {
  border-color: #181717;
  background-color: #ff3333;
  color: #181717;
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */